#drop_nav {
    background-color: white;
    height: 200px;
    position: absolute;
    top: 0;
    transition: all 0.7s ease-in-out;

    &.hide {
        transform: translateY(-100px);
    }

    &.show {
        transform: translateY(100px);
    }
}
