._sidebar-hover {
    background-color: gray;
    width: 100px;
    height: 100%;
}

._sidebar-hover:hover {
    background-color: rebeccapurple;
    width: 300px;
    height: 100%;
    transition: 0.4s ease-in-out;
}
